<h1><%= @user.name %>のページ</h1>
<%= link_to 'つぶやく', new_tsubuyaki_path,class:"label label-success" %>

<p>メールアドレス: <%= @user.email %></p>

<p>お気に入り一覧</p>
<% @favorites_tsubuyakis.each do |favorite| %>
<ul>
　<li>投稿者：<%= favorite.user.name %></li>
  <li>投稿：<%= favorite.content %></li>
</ul>
<% end %>

