<%= form_with(model: tsubuyaki, local: true, url:choose_new_or_edit) do |f| %>
  <% if tsubuyaki.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% tsubuyaki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>
<div class = "content">
  <%= f.label :つぶやき %>
  <%= f.text_area:content %>
</div>

<div class="field">
  <%= f.label :image %>
  <%= image_tag(@tsubuyaki.image.url) if @tsubuyaki.image.url %>
  <%= f.file_field :image %>
   <%= f.hidden_field :image_cache %>
</div>
</div>

<%= f.submit "投稿する" %>

<%= link_to '一覧に戻る', tsubuyakis_path %>

<% end %>