<p><%= notice %></p>
<div class = "container">
<p class= "top">つぶやき一覧
  <%= link_to 'つぶやく', new_tsubuyaki_path,class:"label label-success" %>
</p>

<% @tsubuyakis.each do |tsubuyaki| %>
<p><%= tsubuyaki.content %></p>  

<%= link_to '詳細を確認する', tsubuyaki_path(tsubuyaki.id),class: 'btn btn-default' %>
<%= link_to "編集する", edit_tsubuyaki_path(tsubuyaki.id),class: 'btn btn-default' %>
<%= link_to '削除する', tsubuyaki_path(tsubuyaki.id), class: 'btn btn-info',method: :delete, data: { confirm: '本当に削除していいですか？' }  %>
</div>


<% end %>

